* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", "sans-serif";
  display: flex;
  align-items: center;
  background-color: silver;
  text-align: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.picture-caption {
  color: darkslategrey;
  margin: auto;
}

.dci {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.dci-caption {
  color: dimgray;
  margin-top: 10px;
}

.break {
  color: dimgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Josefin Sans", "sans-serif";
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: dimgray;
  align-items: center;
}

.fa:hover {
  opacity: 20%;
}

/* mobile */

@media (min-width: 760px) {
  .dci {
    width: 100%;
  }
}

/* some the widths and margins are still in pixles/ not updated to be responsive on all screens */