* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "sans-serif";
}

body {
  background-color: silver;
  text-align: center;
  margin: auto;
}
.header {
  text-align: center;
  background-color: snow;
  width: 100vw;
}

p {
  text-align: justify;
}

.Jchin {
  padding: 15px;
  background-color: dimgray;
}
.profile-pic {
  margin: auto;
  width: 100vw;
}

img {
  object-fit: cover;
  padding: 0.25em;
  width: 20vw;
  height: 20vh;
}

h1,
h2,
h3 {
  color: whitesmoke;
  text-align: center;
}

.projects {
  background-color: gray;
}

.projects-word {
  padding: 10px;
}

.all-pictures {
  margin-top: 0.25em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  object-fit: cover;
  max-width: 100vw;
  max-height: 100vh;
}
.contacts p {
  background-color: gray;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.contact-info {
  background-color: gray;
  padding-top: 10px;
  text-align: center;
}

.title-about {
  color: whitesmoke;
  padding: 10px;
}

.h-line {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 500px;
  margin: auto;
}

.about-text {
  margin-top: 15px;
  margin-bottom: 25px;
}

.more-about {
  background-color: #680606;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
.projects-button {
  background-color: #680606;
  color: dimgray;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: floralwhite;
  margin-bottom: 15px;
}

.projects-type-button {
  font-size: 20px;
  font-weight: 500;
}

.projects-type-button:hover {
  color: white;
  text-decoration: none;
  opacity: 75%;
}
.list-1 {
  margin-bottom: 15px;
  color: whitesmoke;
}

.more-about-button {
  color: dimgray;
  font-size: 20px;
  font-weight: 500;
}

.more-about-button:hover {
  text-decoration: white;
  opacity: 75%;
}

.h-line-projects {
  margin-bottom: 10px;
  width: 500px;
  margin: auto;
}

.h-line-contacts {
  margin: auto;
  width: 500px;
}

.fa {
  padding: 0.5em;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: dimgray;
}

.fa:hover {
  opacity: 20%;
  color: #efefef;
}

.h-line-footer {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 500px;
  margin: auto;
}
