* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: silver;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: whitesmoke;
  text-align: center;
}

.profile-pic {
  background-color: snow;
}

.ul {
  list-style-type: bullet;
}

.projects {
  background-color: gray;
  padding: 8px;
  margin-top: 8px;
}

.contacts {
  background-color: gray;
}

/* Ben added this */
.title-about {
  color: whitesmoke;
  margin: 10px;
}

.h-line {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 500px;
  margin: 0 auto;
}

.about-text {
  margin-top: 15px;
  margin-bottom: 25px;
}

.more-about {
  background-color: dimgray;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}

.projects-button {
  background-color: dimgray;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}

.projects-type-button {
  font-size: 20px;
  font-weight: 500;
}

.projects-type-button a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
.list-1 {
  margin-bottom: 15px;
}

.more-about-button {
  font-size: 20px;
  font-weight: 500;
}

.more-about-button a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
/* End of things Ben added */
.h-line-projects {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 500px;
  margin: auto;
}

.h-line-contacts {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 500px;
  margin: 0 auto;
}

.h-line-footer {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 500px;
  margin: 0 auto;
}
