* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "sans-serif";
}

body {
  background-color: silver;
  text-align: center;
  margin: auto;
  /* padding: 0.1em 0.1em; */
}

.header {
  object-fit: cover;
  background-color: snow;
  max-width: 100vw;
}

.Jchin {
  background-color: dimgray;
  margin-bottom: 0.1em;
}

.profile-pic {
  margin: auto;
}

p {
  text-align: justify;
  padding: 1em 1em;
}

img {
  object-fit: cover;
  width: 20vw;
  height: 20vh;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

h2,
h3 {
  color: #680606;
  text-align: center;
}

.projects {
  background-color: gray;
}

.all-pictures .img {
  margin-top: 0.25em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  object-fit: cover;
  max-width: 100vw;
  max-height: 100vh;
}
.contacts p {
  background-color: gray;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.contact-info {
  background-color: gray;
  padding-top: 10px;
  text-align: center;
  color: #680606;
}

.title-about {
  color: whitesmoke;
}

button {
  background-color: #680606;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.projects-type-button {
  font-size: 20px;
  font-weight: 500;
}

button:hover {
  color: white;
  text-decoration: none;
  opacity: 75%;
}
.list-1 {
  margin-bottom: 15px;
  color: whitesmoke;
}

.more-about-button {
  color: dimgray;
  font-size: 20px;
  font-weight: 500;
}

hr {
  max-width: 500px;
  margin: auto;
  color: whitesmoke;
}

.fa {
  padding: 0.25em;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: dimgray;
}

.fa:hover {
  opacity: 100%;
  color: #680606;
}
